*{
    font-size: 25px;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    
}
header {
    grid-column: 1 / 3;
    background: #b466e1;
    color: white;
    padding: 4rem;
    text-align: center;
}
nav {
    white-space: nowrap;
    background: #91469b;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  nav ul li a.current {
    background: black;
  }
  main {
    padding-bottom: 40rem;
  }
  .section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  footer {
    grid-column: 1 / 3;
    background: #8e4489;
    padding: 2rem 1rem;
  }